############################
# OS
############################
.DS_Store
Thumbs.db

############################
# IDEs (global)
############################
.idea/
.vscode/
*.iml
*.ipr
*.iws

############################
# Environment / Secrets
############################
.env
.env.*
*.key
*.pem

############################
# Logs (global)
############################
*.log
logs/

############################
# Temporary files
############################
tmp/
temp/
.cache/


############################
# System
############################
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
