############################
# Maven / Java
############################
target/
*.class
*.jar
*.war
*.ear

############################
# Spring Boot
############################
application.yml
application-*.yml
application.properties
application-*.properties

############################
# Uploads / Runtime files
############################
uploads/
storage/
files/
media/

############################
# Logs
############################
*.log
logs/

############################
# Lombok / Annotation processing
############################
.apt_generated
.factorypath

############################
# Eclipse / STS
############################
.classpath
.project
.settings/
.springBeans
.sts4-cache/

############################
# IntelliJ (backend specific)
############################
.idea/
out/
*.iml

############################
# NetBeans
############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

############################
# Test reports
############################
surefire-reports/
